<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Buscar</servlet-name>
        <servlet-class>controller.Buscar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFile</servlet-name>
        <servlet-class>controller.AddFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDocument</servlet-name>
        <servlet-class>controller.AddDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>lectorDocumento</servlet-name>
        <servlet-class>controller.lectorDocumento</servlet-class>
        <init-param>
            <param-name>ruta</param-name>
            <param-value>String</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Buscar</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFile</servlet-name>
        <url-pattern>/AddFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDocument</servlet-name>
        <url-pattern>/AddDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>lectorDocumento</servlet-name>
        <url-pattern>/lectorDocumento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
